absl-py==0.7.0
astor==0.7.1
bcrypt==3.1.6
certifi==2019.3.9
cffi==1.12.1
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.7
Flask-Script==2.0.6
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
logzero==1.5.0
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.3
numpy==1.16.1
pkg-resources==0.0.0
protobuf==3.6.1
pycparser==2.19
pyparsing==2.3.1
python-dateutil==2.8.0
PyYAML==3.13
redis==3.2.0
requests==2.21.0
six==1.12.0
tensorboard==1.12.2
tensorflow==2.9.3
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
